<div class="container" style="text-align: justify;">
    <div class="row">
        <div class="col">
            {{ include("_header1.html.twig") }}
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            {{ include("_header2.html.twig") }}
            <hr class="d-lg-none">
        </div>
        <div class="col-lg">
            {{ include("_header3.html.twig") }}
        </div>
    </div>
</div>