<h1 id="coordinates-calculator">Przelicznik współrzędnych geograficznych</h1>
<p>Przelicza współrzędne geograficzne pomiędzy różnymi formatami zapisu. Są to:</p>
<ul>
<li>DMS (stopnie, minuty, sekundy), przykład: <code>50° 46′ 17.076″ N, 16° 17′ 3.552″ E</code></li>
<li>DM (stopnie, minuty), przykład: <code>50° 46.2846′ N, 16° 17.0592′ E</code></li>
<li>DD (stopnie), przykład: <code>50.77141°, 16.28432°</code></li>
</ul>
