<h2 id="formaty-zapisu">Formaty zapisu</h2>
<h3 id="dms-stopnie-minuty-sekundy-">DMS (stopnie, minuty, sekundy)</h3>
<p><strong>Stopnie</strong> i <strong>minuty</strong> jako liczby całkowite.<br><strong>Sekundy</strong> jako liczby ułamkowe dziesiętne.<br><strong>Półkule</strong> określone poprzez litery <strong>N</strong> lub <strong>S</strong> (dla <strong>szerokości geograficznej</strong>) i <strong>E</strong> lub <strong>W</strong> (dla <strong>długości geograficznej</strong>).</p>
<p>Przykłady:  </p>
<pre><code><span class="hljs-number">50</span>° <span class="hljs-number">46</span>′ <span class="hljs-number">17.076</span>″ N, <span class="hljs-number">16</span>° <span class="hljs-number">17</span>′ <span class="hljs-number">3.552</span>″ E
<span class="hljs-number">50</span> <span class="hljs-number">46</span> <span class="hljs-number">17.076</span> N <span class="hljs-number">16</span> <span class="hljs-number">17</span> <span class="hljs-number">3.552</span> E
</code></pre><h3 id="dm-stopnie-minuty-">DM (stopnie, minuty)</h3>
<p><strong>Stopnie</strong> jako liczby całkowite.<br><strong>Minuty</strong> jako liczby ułamkowe dziesiętne.<br><strong>Półkule</strong> określone poprzez litery <strong>N</strong> lub <strong>S</strong> (dla <strong>szerokości geograficznej</strong>) i <strong>E</strong> lub <strong>W</strong> (dla <strong>długości geograficznej</strong>).</p>
<p>Przykłady:  </p>
<pre><code><span class="hljs-number">50</span>° <span class="hljs-number">46.2846</span>′ N, <span class="hljs-number">16</span>° <span class="hljs-number">17.0592</span>′ E
<span class="hljs-symbol">50 </span><span class="hljs-number">46.2846</span> N <span class="hljs-number">16</span> <span class="hljs-number">17.0592</span>
</code></pre><h3 id="dd-stopnie-">DD (stopnie)</h3>
<p><strong>Stopnie</strong> jako liczby ułamkowe dziesiętne.<br><strong>Półkule</strong> określone poprzez znaki <strong>+</strong> dla <strong>szerokości geograficznej północnej</strong> i <strong>długości geograficznej wschodniej</strong> i <strong>-</strong> dla <strong>szerokości geograficznej południowej</strong> i <strong>długości geograficznej zachodniej</strong>. Znak <strong>+</strong> można pominąć.</p>
<p>Przykłady:  </p>
<pre><code>+50<span class="hljs-selector-class">.77141</span>°, <span class="hljs-selector-tag">-16</span><span class="hljs-selector-class">.28432</span>°
50<span class="hljs-selector-class">.77141</span> <span class="hljs-selector-tag">-16</span><span class="hljs-selector-class">.28432</span>
</code></pre>