{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <form method="post">
        <div class="userInput mt-3">
            <label for="userInput" class="form-label">Współrzędne</label>
            <div class="input-group">
                <input type="text" name="userInput" id="userInput" class="form-control" placeholder="Wklej tu współrzędne.">
                <span class="clipboard input-group-text" id="copyInput"><i class="bi-clipboard"></i></span>
                <span class="clipboard input-group-text" id="pasteInput"><i class="bi-clipboard-data"></i></span>
            </div>
        </div>
        <div class="DMSformat mt-3">
            <label for="inputDMS" class="form-label">DMS (stopnie, minuty, sekundy)</label>
            <div class="input-group">
                <input disabled type="text" name="inputDMS" id="inputDMS" class="form-control" placeholder="Współrzędne w formacie DMS.">
                <span class="clipboard input-group-text" id="copyDMS"><i class="bi-clipboard"></i></span>
            </div>
        </div>
        <div class="DMformat mt-3">
            <label for="inputDM" class="form-label">DM (stopnie, minuty)</label>
            <div class="input-group">
                <input disabled type="text" name="inputDM" id="inputDM" class="form-control" placeholder="Współrzędne w formacie DM.">
                <span class="clipboard input-group-text" id="copyDM"><i class="bi-clipboard"></i></span>
            </div>
        </div>
        <div class="DDformat mt-3">
            <label for="inputDD" class="form-label">DD (stopnie)</label>
            <div class="input-group">
                <input disabled type="text" name="inputDD" id="inputDD" class="form-control" placeholder="Współrzędne w formacie DD.">
                <span class="clipboard input-group-text" id="copyDD"><i class="bi-clipboard"></i></span>
            </div>
        </div>
    </form>
    <div class="mt-3">
        {{ include("_description.html.twig") }}
    </div>
</div>
{% endblock %}